{% extends 'base.html' %}

{% block content %}
<h2>Toutes les voitures</h2>

<div class="row">
    {% for v in voitures %}
    <div class="col-md-4">
        <div class="card mb-3">
            <img src="{{ v.image.url }}" class="card-img-top">
            <div class="card-body">
                <h5>{{ v.marque }} {{ v.modele }}</h5>
                <p>{{ v.prix_par_jour }} DH</p>
                <a href="/voiture/{{ v.id }}/" class="btn btn-primary">Détails</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}